/node_modules
/public/build
/public/css
/public/hot
/public/js
/public/mix-manifest.json
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.valet
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
stats.html
yarn-error.log
