includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/
        - tests/
        - routes/
    level: 1
    ignoreErrors:
        - "#Undefined variable: \\$this#"
