/* Used by the slide over */
@media (min-width: 768px) {
    .md\:hidden-important {
        display: none !important;
    }
    .md\:block-important {
        display: block !important;
    }
}

/* Used by the filters */
.max-h-none-important {
    max-height: none !important;
}
