name: Copy Laravel source code
on:
  workflow_dispatch:
  schedule:
    - cron:  '30 0 * * 1'
jobs:
  copy-laravel-source:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v2
        with:
          path: "rapidez"

      - name: Checkout the Laravel code
        uses: actions/checkout@v2
        with:
          repository: "laravel/laravel"
          path: "laravel"

      - name: Copy the Laravel code over the Rapidez code
        run: cp -rfv laravel/* rapidez/

      - name: Keep Rapidez specific files
        run: >
          cd rapidez && git checkout
          composer.json
          README.md
          CHANGELOG.md
          routes/web.php
          routes/api.php
          resources/css/app.css
          resources/js/app.js
          public/favicon.ico
          storage/app/public/.gitignore

      - name: Remove unneeded files
        run: >
          cd rapidez && rm -rf
          package.json
          webpack.mix.js
          vite.config.js
          resources/js/bootstrap.js
          resources/views/welcome.blade.php
          app/Models
          database/
          config/sanctum.php

      - name: Check if there are changes
        id: has-changes
        run: |
          cd rapidez &&
          if [[ -z $(cd rapidez && git status -s) ]]; then OUTPUT=1; else OUTPUT=0; fi
          echo "::set-output name=RESULT::$OUTPUT"

      - name: Create Pull Request
        if: steps.has-changes.outputs.RESULT == 1
        uses: peter-evans/create-pull-request@v3
        with:
          path: rapidez
          title: Sync with Laravel source
          body: Merge `laravel/laravel` with `rapidez/rapidez`, check for `composer.json` changes manually!
          commit-message: Sync with Laravel source
          branch: feature/sync-with-laravel-base
          base: master
